//this is a test
@import "./base";

$header-background-color: #fff;
$color: #495060;
$min-sider_width: 200px;

//Order of properties to follow:
// Positioning
// BoxModel
// Typography
// Visual
// OtherProperties

.Layout{
  // Positioning
  display: flex;
  flex-direction: column;
  align-items: stretch;
  // BoxModel
  height: 100vh;
  // Typography
  // Visual
  // OtherProperties
}

.Body {
  // Positioning
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  // BoxModel
  height: 100%;
  width: 100%;
  // Typography
  // Visual
  // OtherProperties
}

.Header{
  // Positioning
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-between;
  // BoxModel
  padding: 0;
  padding-top: 4px;
  height: 60px;
  // Typography
  // Visual
  background-color: $header-background-color;
  border-bottom: solid 1px #e6e6e6;
  // OtherProperties
  &__LogoContainer {
    @extend .Header;
    // Positioning
    // BoxModel
    padding-top: 0px;
    width: $min-sider_width;
    height: 60px;
    border: 0 none;
    // Typography
    // Visual
    // OtherProperties
  }
  &__Logo {
    @extend .Header;
    // Positioning
    position: relative;
    float: left;
    // BoxModel
    padding-top: 0px;
    width: 90px;
    height: 30px;
    border: 0 none;
    // Typography
    // Visual
    border-radius: 3px;
    // OtherProperties
  }
  &__Dorpdown {
    @extend .Header;
    // Positioning
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:flex-end;
    // BoxModel
    padding-top: 0px;
    border: 0 none;
    width: 200px;
    // Typography
    // Visual
    // OtherProperties
  }
  &--Left {
    @extend .Header;
    // Positioning
    // BoxModel
    padding-top: 0px;
    padding-left: 20px;
    // Typography
    // Visual
    // OtherProperties
  }
  &--Right {
    @extend .Header;
    // Positioning
    // BoxModel
    padding-top: 0px;
    padding-right: 20px;
    // Typography
    // Visual
    // OtherProperties
  }
}

.ContentContainer {
  width: 100%;
  padding: 20px;
}

.Content {
  color: #606266;
  &__Head1 {
    @extend .Content;
    border-bottom: solid 1px #e6e6e6;
  }
  &__Baseline {
    @extend .Content;
    margin:5px 30px;
    font-style:italic;
  }
  &__ButtonContainer {
    @extend .Content;
    color: white;
    padding: 3px 0;
    &--left {
      @extend .Content__ButtonContainer;
      margin-left: 15px;
    }
  }
  &__DoubleButton {
    @extend .Content;
    display:flex;
    align-items:center;
  }
  &__Button {
    @extend .Content;
    color: white;
    padding: 3px 0;
    &--right {
      @extend .Content__Button;
      margin-left:10px;
    }
    &--big {
      @extend .Content__Button;
      font-size: 30px;
      padding: 10px;
    }
    
  }
  &__Form {
    @extend .Content;
    max-width:600px;
  }
  &__FormContainer {
    @extend .Content;
    display:inline;
  }
  &__Input--Search {
    @extend .Content;
    max-width:400px;
    margin:20px 0;
  }
  &__List{
    @extend .Content;
    list-style: none;
  }
  &__ListItem{
    @extend .Content;
    font:14px;
    font-style:bold;
  }
  &__Table {
    @extend .Content;
    width: 100%;
    margin-bottom: 20px;
  }
  &__Text--Suffix {
    @extend .Content;
    float: left;
  }
  &__BorderedForm {
    @extend .Content;
    border-radius: 25px;
    border: 2px solid grey;
    padding: 20px;
    box-sizing: border-box;
    width:100%;
  }
  &__Card {
    @extend .Content;
    max-width:400px;
    width: 100%;
    margin: 0px auto;
  }
  &__CardBody {
    @extend .Content;
    min-height:90px;
  }
  &__CardButtonContainer {
    @extend .Content;
    color: white;
    min-height:90px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__CardButton {
    @extend .Content;
    color: white;
  }
  &__CardButton--CenterBig {
    @extend .Content__CardButton;
    font-size: 50px
  }
  &__CardButton--Large {
    @extend .Content__CardButton;
    width: 100%;
  }
  &__CardContainer {
    @extend .Content;
    justify-content: center;
    display: flex;
    align-items: center;
    height: 100%;
    &--Small {
      @extend .Content__CardContainer;
      min-width:400px;
      min-height:150px;
      float:left;
      padding:25px;
    }
  }
  &__CardHeader {
    @extend .Content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 40px;

    font-size: 18px;
    font-weight: bold;
    &--italic {
      @extend .Content__CardHeader;
      font-style:italic;
      font-weight: normal;
    }
  }
  &__CardText--Suffix {
    @extend .Content;
    float: left;
  }
  &__ColumnForm {
    @extend .Content;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  &__ColumnForm1o2 {
    @extend .Content;
    display: flex;
    flex-direction: column;
    margin: 20px;
    min-width: 300px;
    width: 80%;
  }
  &__ColumnForm1o2Column {
    @extend .Content;
    display: flex;
    flex-direction: row;
    justify-content: left;
    flex-wrap: wrap;
  }
  &__ColumnForm1o2Column1o2 {
    @extend .Content;
    width: 50%;
    min-width: 250px;
  }




  &__ScoreCardBoard{
    @extend .Content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  &__TreeNode{
    @extend .Content;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    padding-right: 8px;
  }
}

.Dialog__Form {
  max-width:600px;
}

.Sider {
  min-width: $min-sider_width;
  height: 100%;
  border-right: solid 1px #e6e6e6;
  &__MenuContainer {
    @extend .Sider
  }
}
